body {
	font-family: 'Cinzel', serif;
}

.Banner {
	background-image: url(images/Stripes.png);
	height: 300px;
	display: flex;
	position: relative;
}

#Logo {
	position: absolute;
}

#Name {
	font-family: 'Cinzel', serif;
	font-size: 900%;
	color: #e2032f;
	margin: auto 3% auto auto;
}

#Name:hover {
	text-decoration: none;
}

#CTA {
	font-size: 100%;
	font-family: 'Cinzel', serif;
	width: 150px;
	height: 50px;
	position: absolute;
	top: 75%;
	right: 55%;
}

#search {
	width: 250px;
	font-family: Montserrat, Cambria;
	font-size: 100%;
	color: black;
	display: block;
	margin-right:5%;
	padding-left: 10px;
	border-radius:25px;
	background-image: url(https://image.flaticon.com/icons/svg/149/149852.svg) ;
	background-size: 12px;
	background-position: top 50% right 8px;
	background-repeat: no-repeat;
}

#Searchbar {
	margin-right: 10px;
}

hr {
	top: 50%;
	height: 10px;
}

h1 {
	font-family: 'Cinzel', serif;
	font-size:200%;
}

#Menu {
	width: 20%;
	float: left;
	font-family: 'Cinzel', serif;
	font-size:150%;
	margin-left: 5%;
}

#Menu a {
	color: black;
}

#Menu a:hover {
	text-decoration: none;
	color: #e2032f;
}

#Vente {
	margin-left: 21%;
}

h2{
	font-family: 'Cinzel', serif;
	font-size: 150%;
}

.panel-title { 
	a {
		display: block;
	}
}

.Achat {
	width:45%;
	height:15%;
	display: block;
	margin:auto;
	font-family: 'Cinzel', serif;
	font-size: auto;
	text-align: center;
	margin-bottom: 5%;
}
.Achat:hover {
	border-radius:30px;
	background-color:#002aff;
	border: 5px #002aff;
}


.tableau {
	height: 90%;
	width: 90%;
	justify-content: center;
	padding-top: 5%;
}

.border {
	margin: 10px 0 10px 0;
}


.Cadre {
	border: 2px;
	border-radius: 5px;
	font-family: 'Cinzel', serif, Montserrat;
	font-size: 150%;
	text-align: center;
}

#mc_embed_signup {
	font-family: 'Cinzel', serif;
	text-align: center;
	font-color: #000000;
	padding: 20px;
}

.footer {
	font-family: 'Cinzel', serif;
	background: #F4F4F4;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	padding: 0px 50px;
	margin: 20px 0 0 0;
}
.footer-links {
	display: flex;
	align-items: center;
}
.footer-links a {
	color: black;
	opacity: 0.75;
	text-decoration: none;
	font-size: 24px;
	padding: 0px 10px;
}
.footer-links a:hover {
	opacity: 1;
	color: red;
}

/*paiement*/
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.credit-card-box .panel-heading img {
    min-width: 180px;
}